<div class="domibus-page">
  <page-header id="errorlogheader_id">Error Log</page-header>

  <div class="selectionCriteria">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">
            <mat-form-field>
              <mat-label>Signal Message Id</mat-label>
              <input matInput name="errorSignalMessageId" [(ngModel)]="filter.errorSignalMessageId"  id="signalmessageid_id" width="40px">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Message Id</mat-label>
              <input matInput name="messageInErrorId" [(ngModel)]="filter.messageInErrorId" id="messageid_id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Error From:</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedFrom" id="fromtimestamp_id" name="fromTimestmap"
                     [ngModel]="filter.timestampFrom" (ngModelChange)='onTimestampFromChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [max]="timestampFromMaxDate">
              <mat-datepicker-toggle matSuffix [for]="receivedFrom" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedFrom>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Error To:</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedTo" id="totimestamp_id" name="toTimestmap"
                     [ngModel]="filter.timestampTo" (ngModelChange)='onTimestampToChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [min]="timestampToMinDate" [max]="timestampToMaxDate">
              <mat-datepicker-toggle matSuffix [for]="receivedTo" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedTo>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Error Detail</mat-label>
              <input matInput name="errorDetail" [(ngModel)]="filter.errorDetail" id="errordetail_id" advanced-filter-behaviour [parent]="this">
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>AP Role</mat-label>
              <mat-select [(ngModel)]="filter.mshRole" name="mshRole" class="optionField" id="aprole_id" advanced-filter-behaviour [parent]="this">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let role of mshRoles" [value]="role">
                  {{role}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Error Code</mat-label>
              <mat-select [(ngModel)]="filter.errorCode" name="errorCode" class="optionField" id="errorcode_id" advanced-filter-behaviour [parent]="this">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let code of errorCodes" [value]="code">
                  {{code}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Notified From:</mat-label>
              <input matInput [ngxMatDatetimePicker]="notifiedFrom" id="notifiedfrom_id" name="notifiedFrom"
                     [ngModel]="filter.notifiedFrom" (ngModelChange)='onNotifiedFromChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [max]="notifiedFromMaxDate" advanced-filter-behaviour [parent]="this">
              <mat-datepicker-toggle matSuffix [for]="notifiedFrom" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #notifiedFrom>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Notified To:</mat-label>
              <input matInput [ngxMatDatetimePicker]="notifiedTo" id="notifiedto_id" name="notifiedTo"
                     [ngModel]="filter.notifiedTo" (ngModelChange)='onNotifiedToChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [min]="notifiedToMinDate" [max]="notifiedToMaxDate" advanced-filter-behaviour [parent]="this">
              <mat-datepicker-toggle matSuffix [for]="notifiedTo" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #notifiedTo>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <filter-area-footer [parent]="this" [form]="filterForm"></filter-area-footer>

          </form>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <grid-header [parent]="this"></grid-header>

  <div class="domibus-grid-container">
    <page-grid [parent]="this" [sortedColumns]="[{prop: 'timestamp', dir: 'desc'}]"></page-grid>
  </div>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value | domibusDate}}</span>
  </ng-template>

  <ng-template #rawTextTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value}}</span>
  </ng-template>

</div>
