@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
/* TODO(mdc-migration): Remove all-legacy-component-typographies once all legacy components are migrated*/
@include mat.all-component-typographies();
@include mat.all-component-typographies();
/* TODO(mdc-migration): Remove legacy-core once all legacy components are migrated*/
@include mat.core();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$harmonypalette: (
  50 : #e0e7f3,
  100 : #b3c2e0,
  200 : #8099cc,
  300 : #4d70b8,
  400 : #2652a8,
  500 : #003399,
  600 : #002e91,
  700 : #002786,
  800 : #00207c,
  900 : #00146b,
  A100 : #9aa5ff,
  A200 : #6778ff,
  A400 : #344aff,
  A700 : #1a33ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$harmonylight: (
  50 : #f9fdfe,
  100 : #f0fbfc,
  200 : #e6f9fb,
  300 : #dcf6f9,
  400 : #d5f4f7,
  500 : #cdf2f6,
  600 : #c8f0f5,
  700 : #c1eef3,
  800 : #baecf2,
  900 : #aee8ef,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$input-app-primary: mat.define-palette($harmonypalette);
$input-app-accent: mat.define-palette($harmonylight);

// Create the theme object (a Sass map containing all of the palettes).
$input-app-theme: mat.define-light-theme($input-app-primary, $input-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
/* TODO(mdc-migration): Remove all-legacy-component-themes once all legacy components are migrated*/
@include mat.all-component-themes($input-app-theme);
@include mat.all-component-themes($input-app-theme);

$datatable_background_color_hover: map-get(mat.$grey-palette, 600);
$datatable_background_color_focus: map-get(mat.$grey-palette, 600);
$datatable_background_color_active: map-get(mat.$grey-palette, 600);

.ngx-datatable.material.cell-selection .datatable-body-cell.active,
.ngx-datatable.material.cell-selection .datatable-body-cell.active .datatable-row-group {
  background-color: $datatable_background_color_active;
  //color: #0d0d0d;
}

.ngx-datatable.material.cell-selection .datatable-body-cell.active:hover,
.ngx-datatable.material.cell-selection .datatable-body-cell.active:hover .datatable-row-group {
  background-color: $datatable_background_color_hover;
  //color: #0d0d0d;
}

.ngx-datatable.material.cell-selection .datatable-body-cell.active:focus,
.ngx-datatable.material.cell-selection .datatable-body-cell.active:focus .datatable-row-group {
  background-color: $datatable_background_color_focus;
  //color: #0d0d0d;
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: $datatable_background_color_active;
  color: #FFF;
}

.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
  background-color: $datatable_background_color_hover;
  color: #FFF;
}

.ngx-datatable.material.single-selection .datatable-body-row.active:focus,
.ngx-datatable.material.single-selection .datatable-body-row.active:focus .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active:focus,
.ngx-datatable.material.multi-selection .datatable-body-row.active:focus .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active:focus,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:focus .datatable-row-group {
  background-color: $datatable_background_color_focus;
  color: #0d0d0d;
}

.domibusLink {
  color: #003399;//map-get($mat-blue, A200);
}

.searchArea {
  margin: 20px 0 0 0;
  display:block;
  a {
    @extend .domibusLink;
    vertical-align: bottom;
    margin-left: 10px;
    color: #003399;
  }
}

.mat-sidenav .mat-mdc-raised-button:not(:disabled) {
  --mdc-protected-button-label-text-color: #003399;
  --mdc-protected-button-container-color: #f0fbfc;
}
